extends ../layouts/unauthenticated

block content
  main(role='main')
    section.jumbotron
      .container
        h1 Register

        form(action="/users/register" method="post")
          .form-group
            label(for="username") Username:
            input.form-control(type="text", name="username")

          .form-group
            label(for="password") Password:
            input.form-control(type="password" name="password")

          button.btn.btn-primary.mr-2(type='submit') Register
          a.btn.btn-secondary(href="/users/login") Login
