doctype html
html
  head
    title AUTHENTICATED
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      p You are user #{user.id} #{user.username}
      p
        a(href="/users/logout") Logout

    block content

    block scripts