doctype html
html
  head
    title AUTHENTICATED
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      p You are user #{user.id} #{user.username}
      p
        a(href="/users/logout") Logout

    block content


    script(src="/socket.io/socket.io.js")
    block scripts