extends layouts/unauthenticated

block content
  main(role='main')
    section.jumbotron.text-center
      .container
        h1.jumbotron-heading Tic Tac Toe
        p.lead.text-muted Win now.
        p
          a.btn.btn-primary.mr-2(href="/users/login") Login
          a.btn.btn-secondary(href="/users/register") Register

