extends ../layouts/layout

block content
  h1 Welcome to tic tac toe

  .row
    .col
      div
        a.btn.btn-dark(href='/api/games/create') Create Game

      .game-list.list-group
    .col
      .form-group
        .chat-display.border.border-secondary.rounded
      .form-group
        input.form-control.chat-message(placeholder='Message...')

block scripts
  script(src="/js/lobby.js")